
<%- include("../partials/header") %>
<h1><%=camp['name']%></h1>

<img src="<%=camp['image']%>"/>
<p><%=camp['description']%></p>
<% camp['comments'].forEach(function(comment){ %>
    <p>
        <strong><%= comment['author'] %></strong> - <%= comment['text'] %>
    </p>
<% }) %>
<a href="/campground/<%=camp._id%>/comments/new" class="btn btn-primary">Add new comment</a>
 <%- include("../partials/footer") %>