<%- include("partials/header.ejs") %>

<h1>Welcome to the posts page</h1>

<% posts.forEach(function(post){ %>
    <li> The author <%= post["author"] %>, about <%= post["title"]%>, comment <%= post["comment"]%></li>
    
<% }) %>

 <form action="posted.ejs" method="post">
     <div>
     <label for="author">Author</label>
     <input type="text" name="author"/>
     </div>
     <div>
     <label for="post">Post</label>
      <input type="text" name="post"/>
      </div>
      <div>
      <label for="comment">Comment</label>
       <input type="text" name="comment"/>
       </div>
     <input type="submit" value="Submit"/>
 </form>

<%- include("partials/footer.ejs") %> 